.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
    font-size: 125px;
    font-family: desdemona;
    padding: 25px;
    color: #FE9BBD;
    text-shadow: 2px 2px 7px #000000
}

#blocJams {
    font-size: 170px;
    padding-top: 55px;
    padding-bottom: 0px;
    color: #F5A8BC;
    text-shadow: 2px 2px 7px #000000;
}

h1.hero-title {
    color: ##F5A8BC;
    font-family: 'Monoton', cursive;;
    font-size: 70px;
    padding-bottom: 175px;
    padding-top: 5px;
    text-shadow: 2px 2px 7px #000000;
}

h2.point-title {
    font-family: impact;
}

p.point-description {
    font-family: fantasy;
}

a {
    font-family: fantasy;
    font-style: oblique;
}