body {
    background-image: url(/assets/images/backgroundimages/womanHeadphones1250logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: desdemona;
}

 {
    
}