.playClass .ion-play{
    display: contents;
}

.playClass .ion-pause {
    display: none;
}

.playClass .number-icon {
    display: none;
}

.pauseClass .ion-play{
    display: none;
}

.pauseClass .ion-pause {
    display: contents;
}

.pauseClass .number-icon {
    display: none;
}

.numberOfSongClass .ion-play{
    display: none;
}

.numberOfSongClass .ion-pause {
    display: none;
}

.numberOfSongClass .number-icon {
    display: contents;
}